<%= form_with(model: event, local: true) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <%= f.label :company, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.text_field :company, class: 'form-control', placeholder: 'company...', required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :author, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.text_field :author, class: 'form-control', placeholder: 'author...', required: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :title, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.text_field :title, class: 'form-control', placeholder: 'title...', required: true %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <%= f.label :scheduled_at, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.date_select :scheduled_at, {}, { class: 'form-control d-inline', style: 'width: auto' } %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8 h-100">
          <%= f.text_area :description, class: 'form-control h-100', placeholder: 'description...', rows: 3, required: true %>
        </div>
      </div>
    </div>

  </div>


  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" unless event.new_record? %>
  </div>
<% end %>
<% unless event.new_record? %>
  <%= render partial: "event_comments/form", locals: { event: event } %>
  <% event.event_comments.each do |event_comment| %>
    <%= render partial: "event_comments/event_comment", locals: { event_comment: event_comment } %>
  <% end %>
<% end %>
