<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Last Comment</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td>
        <%= event.company %><br />
        <small><%=time_ago_in_words event.scheduled_at %></small>
      </td>
      <td>
        <%= event.author %>
      </td>
      <td>
        <%= event.title %>
      </td>
      <td>
        (<%= event.event_comments.count %> comments:)  <%= event_comment_abbreviation event.event_comment %>
      </td>
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <%= link_to "Edit", edit_event_path(event), class: "btn btn-secondary" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
