<div class="card mb-4 bg-light">
  <div class="card-body">
    <h5 class="card-title text-muted">Comments</h5>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-4">Identified By</div>
          <div class="col-sm-8"><strong><%= event_comment.identified_by.present? ? event_comment.identified_by : '...'  %></strong></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-4">Comment</div>
          <div class="col-sm-8"><strong><%= event_comment.comment %></strong></div>
        </div>
      </div>
    </div>
  </div>
</div>
