<hr />
<div class="card mt-2 mb-4">
  <div class="card-body">
    <h5 class="card-title text-muted">Create Comment</h5>
    <small>Actually have <%= event.event_comments.count %> comments</small>
    <hr />
    <%= form_for :event_comment, url: event_comments_path do |f| %>
      <%= f.hidden_field :event_id, value: event.id %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <%= f.label :identified_by, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :identified_by, class: 'form-control', placeholder: 'anonymous...', value: 'Anonymous', required: true %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <%= f.label :comment, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8 h-100">
              <%= f.text_area :comment, class: 'form-control h-100', placeholder: 'comment...', rows: 3, required: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.submit "Add Comment", class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
