<!DOCTYPE html>
<html>
<head>
  <title>CompanyScheduler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container h-100">
    <div class="row mt-4 justify-content-center align-items-center">
      <div class="col-12 mb-4">
        <h5>Company Scheduler</h5>
        <div class="btn-group  mt-2" role="group" aria-label="Application Actions">
          <%= link_to "Back to Dashboard", root_path, class:"btn btn-secondary" unless current_page?(root_path) %>
          <%= link_to "Create Event", new_event_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
